<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>FlickrPhotoStream</title>
	<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Comfortaa">

	<style>
		
		body{
			font-family: "Open Sans", sans-serif;
		}
		h1{
			font-family: 'Comfortaa', serif;
		}
		p {
		  font-family: "Roboto", sans-serif;
		}
		</style>
</head>

<body id="home">
	<h1>Flickr Photo Stream</h1>
	<h4> by Chloe Jones</h4>
	<ul>
		<%
			flickrArray.forEach((item) => { %>
			<div class='image-post'>
				<img class='image' src='<%=item.media%>' alt='<%=item.title%>'> </img>
				<div class='title-author'>
					<h3><a href='<%=item.link%>' target='_blank'><%= item.title %></a></h3>
					<h3 class='author'> by <a href='<%=item.author_link%>' target="_blank"/><%= item.author %></a></h3>
				</div>
				
				<p> Posted on: <%= item.date %> at <%= item.time %>. </p>
				<% if (item.tags!= ''){ %>
					<p> Tags: <%= item.tags %>.</p>
				<% } %> 
		 		
			</div>
			
			
		<% });
		%>
	</ul>
	</body>
	</html>

</body>
</html>